@use "./styles/typography";
@use "./styles/mixins";
@use "./styles/variables";
@use "./styles/page";

//Resets
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
