@font-face {
    font-family: "Old Standard TT";
    src: url("./assets/fonts/OldStandardTT-Regular.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Old Standard TT";
    src: url("./assets/fonts/OldStandardTT-Italic.ttf") format("TrueType");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Old Standard TT";
    src: url("./assets/fonts/OldStandardTT-Bold.ttf") format("TrueType");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./assets/fonts/Merriweather-Regular.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./assets/fonts/Merriweather-Italic.ttf") format("TrueType");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Merriweather";
    src: url("./assets/fonts/Merriweather-Bold.ttf") format("TrueType");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./assets/fonts/Merriweather-BoldItalic.ttf") format("TrueType");
    font-weight: 700;
    font-style: italic;
}
