$tablet-break-point: 768px;
$desktop-break-point: 1280px;
$max-width: 1020px;

$color-text-primary: #333333;
$color-text-secondary: #111111;
$color-text-tertiary: #f8ca00;
$color-text-quaternary: #ffffff;

$color-background-primary: #333333;
$color-background-secondary: #f8ca00;
$color-background-tertiary: #ffffff;

$color-button-primary: #f8ca00;
$color-button-secondary: #111111;
